*, *:before, *:after {
	box-sizing: border-box;
    outline: none !important;
}

html {
    height: 100%;
    font-size: 14px;
    font-weight: 300;
}

body {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 1rem;
    min-height: 100%;
}

img {
    max-width: 100%;
}

p {
    text-align: justify;
}

ul {
    margin-bottom: 0;
}

.content {
    min-height: 800px;
    padding-bottom: 15px;
    @media @notebook {
        min-height: 600px;
    }
}

hr {
    border: none;
    color: #0087BD;
    background-color: #0087BD;
    height: 1px;
    margin: 20px 0;
}

footer {
    background: @blueDark;
    padding: 20px;
    color: white;
}