// Bootstrap
.sub-menu {
    @media @pc {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        width: 360px;
        margin: 0;
        list-style: none;
        background: rgba(0, 0, 0, 0) radial-gradient(#35cdf3, #0087bd) repeat scroll 0 0;
        background-clip: padding-box;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        & li {
            align-items: flex-start;
            &.current-menu-item {
                background: #006799;
            }
        }
    }
}

.bg-light {
    background: #F6F7F8 !important;
}

.navbar {
    @media @pc {
        padding: 0;
    }
}

// WP FORMS
.wpforms-field-label {
    font-size: 1rem !important;
}

#wpforms-101-field_0, #wpforms-101-field_5 {
    height: 50px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    padding-left: 15px;
}

#wpforms-submit-101 {
    border-radius: 5px;
    height: 50px;
    width: 100%;
    background: #024580;
    border: 0;
    color: white;
    font-size: 18px;
    &:hover {
        background-color: #444444;
    }
}

.wpforms-container-full {
    margin-bottom: 0 !important;
}

#wpforms-101-field_5-container {
    position: relative;
}

#wpforms-101-field_5-error {
    position: absolute;
    left: 10px;
    top: 10px;
    color: red;
}

// SLIDER
.slider {
    margin-top: 20px;
    @media @mobile {
        display: none;
    }
}

.slider__slide {
    background-color: rgba(0, 0, 0, 0.6);
    height: 409px;
    width: 100%;
    position: relative;
}

.slider .slick-arrow {
    display: none !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 15px;
}

.slider__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    /* opacity: 0.4; */
}

.slider__info {
    position: absolute;
    top: 80px;
    left: 30px;
    z-index: 10 !important;
}

.slider__title {
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
}

.slider__list {
    padding-left: 25px;
}

.slider__item {
    margin-top: 10px;
    text-align: justify;
    list-style-type: disc;
    color: white;
    font-size: 1.25rem;
}

.slider__text {
    margin-top: 10px;
    color: white;
    font-size: 1.25rem;
    padding-right: 15px;
}

.slick-dots {
    z-index: 999;
    top: 15px;
    right: 20px;
    text-align: center;
    width: 160px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slick-dots li button {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid white;
    outline: none;
    font-size: 0;
    padding: 0;
}

.slick-dots li.slick-active button {
    background: white;
}

.slick-dots button:before, .slick-prev, .slick-next {
    display: none; 
}