.menu {
    @media @pc {
        background: rgba(0, 0, 0, 0) radial-gradient(#35cdf3, #0087bd) repeat scroll 0 0;
        color: white;
        min-height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    @media @mobile {
        top: 10px;
        padding-bottom: 10px;
    }
}

.menu__item {
    @media @pc {
        height: 100%;
        position: relative;
        .center();
        &:hover {
            background: #006799;
            .sub-menu {
                display: block;
            }
        }
    }
}

.menu__link {
    @media @pc {
        color: white;
        padding: 15px;
        font-size: 1.25rem;
        font-weight: 600;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

// Заголовки
.title {
    line-height: 1.2;
    font-weight: 600;
    color: black;
    text-align: center;
    text-shadow: 0 0 5px rgba(254, 225, 183, 0.3);
    &_white {
        color: #f1f1f1
    }
    &_first {
        margin: 30px auto 20px;
        font-size: 1.5rem;
        @media @mobile {
            font-size: 1.25rem;
            margin: 20px auto 10px;
        }
    }
    &_second {
        margin: 25px auto 15px;
        font-size: 1.25rem;
        padding-bottom: 10px;
        @media @mobile {
            font-size: 1.125rem;
        }
    }
    &_third {
        position: relative;
        margin: 15px 0;
        font-size: 1rem;
        text-align: left;
        text-transform: uppercase;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 90px;
            height: 1px;
            border-bottom: 1px solid #ae7a46;
        }
    }
    & a {
        color: black;
        text-decoration: none;
    }
}

// HEADER
.logobox {
    padding-top: 20px;
    &__text {
        font-size: 1.25rem;
        margin-top: 15px;
        text-align: center;
        font-weight: 400;
    }
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    @media @mobile {
        padding-top: 15px;
    }
}

.box__text {
    text-align: left;
    margin-left: 15px;
    &_num {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0;
    }
    &_dlc {
        font-size: 1.125rem;
        color: black;
        position: relative;
        top: -10px;
    }
}

// Marked list
.markedList {
    padding-left: 25px;
    margin-bottom: 10px;
    @media @mobile {
        padding-left: 15px;
    }
}

.markedList__item {
    margin-top: 10px;
    text-align: justify;
    list-style-type: disc;
}

// Numbered list
.numberedList {
    padding-left: 25px;
    margin-bottom: 10px;
    @media @mobile {
        padding-left: 15px;
    }
}

.numberedList__item {
    margin-top: 10px;
    text-align: justify;
    list-style-type: decimal;
    &::marker { 
        font-weight: 700;
    }
}

// POSTER
.poster {
    background-image: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url('../images/consult.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 240px;
    .center();
}

.poster__text {
    padding: 0 15px;
    text-align: center;
    font-size: 1.25rem;
}

// Форма на главной
.form {
    background: #045C9E;
    padding: 20px;
    min-height: 240px;
    @media @mobile {
        margin-top: 20px;
        padding: 15px 10px;
    }
}

// Карта
.gis-map {
    height: 400px;
    margin: 25px 0;
}

.red {
    color: red;
}

// FOOTER
.developer {
    margin: 0 auto;
    width: 70px;
    .center();
}

.developer__logo {
    height: 70px;
}

// ADVANTAGE
.advantage__img {
    display: block;
    margin: 0 auto;
}

.advantage__text {
    margin-top: 20px;
    text-align: center;
}